<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1097973647365-j2k942fl45imlh4ja3gl5407110ajgsl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1097973647365-j2k942fl45imlh4ja3gl5407110ajgsl</string>
	<key>API_KEY</key>
	<string>AIzaSyBLeHlWNtriUxMaJ3XDh1ZbOAeOnFFwX5U</string>
	<key>GCM_SENDER_ID</key>
	<string>1097973647365</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oceanwing.jouzApp</string>
	<key>PROJECT_ID</key>
	<string>jouz-eb640</string>
	<key>STORAGE_BUCKET</key>
	<string>jouz-eb640.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1097973647365:ios:fd09bb62a7a87e6f</string>
	<key>DATABASE_URL</key>
	<string>https://jouz-eb640.firebaseio.com</string>
</dict>
</plist>
